#container {
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	margin: 100px auto;
	width: 70%;
	background: #f7f7f7;
}

.check{
	color: gray;
	text-decoration:line-through
}

.todo-h1{
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}

.todo-ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.todo-li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 1.5em;
}
.todo-li:nth-child(2n){
	background: #f7f7f7;
}
.todo-container{
	font-family: Roboto;
}
body{
	background: #355C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.todo-input{
	box-sizing: border-box;
	width: 100%;
	padding: 13px 13px 13px 20px;
	background: #f7f7f7;
	font-size: 20px;
	color: #2980b9;
	border:  3px solid rgba(0,0,0,0);
}
.todo-input:focus{
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}
.right-floater{ 
	float: right;
}
.todo-span{
	background: #e74c3c;
	height: 40px;
	color: white;
	margin-right: 20px;
	text-align: center;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
.todo-li:hover span{
	width: 40px;
	opacity: 1.0;
}


.task-list-item {
    list-style-type: none;
}
.task-list-item-checkbox {
    margin-left: -20px;
    vertical-align: middle;
	margin-right: 5px;
    pointer-events: none;
}
.history {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6;
}
#offcanvasRightLabel {
  font-size: 3rem;
  margin-top: 0;
}
.borderless {
  border: 0;
  border-radius: 0;
}
.modal-content {
	border-radius: 0;
}